
.cardTitle{
	position: absolute;
	bottom: 1rem;
}

.container{
	width: 80rem; 
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.addButton{
	position: absolute;
	right: 0.7rem;
	top: 0.7rem;
	width: 5%;
}

